<div class="col-sm-8 blog-main">

  <h2 class="blog-post-title"><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <div>
    <%= @blog.body %>
  </div>

  <%= render 'comments/comment_form' %>

  <%= render @blog.comments %>
</div><!-- /.blog-main -->
