<div class="col-sm-8 blog-main">

  <h2 class="blog-post-title"><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <div>
    <%= @blog.body %>
  </div>

  <% unless current_user.is_a? GuestUser %>
    <%= form_for @comment, url: '#' do |f| %>
      <div class="form-group">
        <%= f.text_area 'content', class: 'form-control', 'aria-label': 'Comment Content' %>
      </div>
      <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= render @blog.comments %>
</div><!-- /.blog-main -->
