<div class="col-sm-8 blog-main">
  <nav class="breadcrumb">
    <%= link_to 'Home', root_url, class: "breadcrumb-item" %>
    <%= link_to @blog.topic.title, @blog.topic, class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @blog.title %></span>
  </nav>

  <h2 class="blog-post-title"><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <div>
    <%= @blog.body %>
  </div>

  <h3 id="comment-header">Comments</h3>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div><!-- /.blog-main -->
