<div class="col-sm-8 blog-main">
  <h2 class="blog-post-title topic-title"><%= @topic.title %></h2>

  <nav class="breadcrumb">
    <%= link_to 'Home', root_url, class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @topic.title %></span>
  </nav>

  <%= paginate @blogs %>
    
  <%= render @blogs %>

  <%= paginate @blogs %>

</div><!-- /.blog-main -->