%h2= @topic.title
%nav.breadcrumb
  = link_to "Home", root_url, :class => "breadcrumb-item"
  %span.breadcrumb-item= @topic.title
= paginate @blogs
= render partial: 'blogs/blog', collection: @blogs
= paginate @blogs
