<h1><%= @page_title %></h1>

<p><%= link_to "Add a Portfolio Item", new_portfolio_path %></p>

<p><%= link_to "Ruby on Rails", ruby_on_rails_portfolio_path %>

<%= link_to "Vue", vue_portfolio_path %></p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
