= image_tag portfolio_img(@portfolio_item.main_image, "main"), :alt => @portfolio_item.title, width: "100%"
%h2= @portfolio_item.title
%p
  %em= @portfolio_item.subtitle
%p= markdown @portfolio_item.body
%h3= "Technologies Used:"
- @portfolio_item.technologies.each do |technology|
  %p= technology.name
- if logged_in?(:site_admin)
  %div
    = link_to "Edit Item", edit_portfolio_path(@portfolio_item)
    