%h4= "Full Stack Web Development"
%p= "I am able to work with users and developers, across the stack and at various points of the creative process."
%h4= "Explore"
%ul
  = nav_helper "", "li"
  = login_helper "", "li"
= link_to "Chazona Baum", root_path
