%div{:class => location}
  %span= link_to "Home", root_path
  %span= link_to "About", about_path
  %span= link_to "Portfolio", portfolios_path
  %span= link_to "Contact", contact_path
  %span= link_to "Blog", blogs_path
    