%div
  %h1= "Chazona Baum"
  = link_to "(757) 617-6964", "tel:+17576176964"
  = link_to "chazona@chazonabaum.com", "mailto:chazona@chazonabaum.com"
  = link_to "chazonabaum.com", "https://chazonabaum.com"
  = link_to "github.com/chznbaum", "https://github.com/chznbaum"
  = link_to "codepen.io/chznbaum", "https://codepen.io/chznbaum"
  = link_to "twitter.com/chznbaum", "https://twitter.com/chznbaum"
  %h2= "Front End Developer with Experience Building Full-Stack Applications"
  %h3= "Experience"
  %div
    %div= "Freelance Web Developer"
    %div= link_to "Solutions by Chazona", "https://www.solutionsbychazona.com"
    %div= "Aug 2017 - Present"
    %ul
      %li= "Utilized CSS3, HTML5, JavaScript and Jekyll"
  %div
    %div= "Freelance Full-Stack Developer"
    %div= link_to "LunaConstant.com", "https://lunaconstant.com"
    %div= "Jul 2017 - Aug 2017"
    %ul
      %li= "Planned and developed an invitation-only photo-sharing website for a new mom"
      %li= "Implemented mailers, likes, threaded comments with polymorphic model relationships, and custom support ticket system"
      %li= "Utilized Ruby on Rails 5, PostgreSQL and Bootstrap 3"
  %div
    %div= "Webmaster"
    %div= link_to "Midlothian Code", "https://midlothiancode.com"
    %div= "Oct 2016 - Jul 2017"
    %ul
      %li= "Established self-hosted WordPress website for Midlothian Code meetup"
      %li= "Customized premium WordPress theme to suit the organization"
      %li= "Implemented event management, ecommerce, and job listing features"
  %h3= "Projects"
  %div
    %ul
      %li
        = link_to "Local Weather", "https://chznbaum.github.io/local-weather-app"
        = ": Geolocates user and provides weather data for the week, falls back to IP location"
      %li
        = link_to "Pokemon Monster Battle Game", "https://codepen.io/chznbaum/full/GQqpqj"
        = ": Turn-by-turn battle mini-game using Vue.js"
      %li
        = "Pure CSS Vector Graphics, such as recreations of a "
        = link_to "Ruler", "https://codepen.io/chznbaum/full/WRoybZ/"
        = " and the character "
        = link_to "Mojo Jojo", "https://codepen.io/chznbaum/full/mREzdw/"
  %h3= "Volunteering"
  %div
    %div= "Member"
    %div= "Code for Hampton Roads"
    %div= "Dec 2017 - Present"
  %div
    %div= "Founder"
    %div= "Midlothian Code"
    %div= "Oct 2016 - Jul 2017"
    %ul
      %li= "Grew local meetup to 20 in-person members and 71 online members within first year"
      %li= "Planned and coordinated 13 technical educational community events"
  %h3= "Accomplishments"
  %div
    %ul
      %li= "Awarded scholarship to attend RubyConf2017"
      %li
        = "Featured on The Practical Dev front page for article on "
        = link_to "web development without a computer", "https://dev.to/chznbaum/roughing-it-dev-style-coding-without-a-computer"
      %li
        = "Featured in the "
        = link_to "CodePen Spark", "https://codepen.io/spark/16"
        = " for custom-CSS profile"
  %h3= "Skills"
  %div
    %ul
      %li= "CSS3, HTML5, JavaScript, Bootstrap 3/4, Rails 5, PostCSS, Git, jQuery, WordPress, Sass/SCSS, AJAX/JSON"
      %li= "Responsive Web Design, API Integration"
      %li= "Working knowledge of the following: Vue.js, Ruby, Node.js, PHP, PostgreSQL, Adobe Photoshop, Adobe Lightroom, Adobe InDesign"
  %h3= "Education"
  %div
    %div= "Independent Study"
    %div= "Jul 2016 - Present"
    %ul
      %li= "Resources: Free Code Camp, Udemy, Udacity"
  = link_to "Download .pdf", "https://s3.amazonaws.com/chazona-portfolio-bucket/uploads/resume/BaumChazona201712.pdf", "download" => true
