<h1><%= @page_title %></h1>

<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag image_path("chazona.png"), width: 300, class: "profile-image", alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-block">
        <p>My name is Chazona Baum, and I am a self-taught full-stack developer with diverse experiences in industries ranging from food service to veterinary medicine to insurance.</p>

        <p>My two young children help shape my perspective, and drive me to create experiences that are accessible, friendly, and with a hint of magic.</p>

        <p>My love of code sprang from my love of language. Where some see confusing symbols, I see an elegant form of communication and expression, and a way for people to extend their capabilities and accomplish the previously impossible.</p>
        <h2>Skills</h2>
        <div class="row">
          <% Skill.all.each do |skill| %>
            <div class="col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:<%= skill.percent_utilized %>%;" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemin="0" aria-valuemax="100">
                  <span class="progress-label"><%= skill.title %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>