<h1><%= @page_title %></h1>
<p>Hi, <%= current_user.first_name %></p>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Recent Posts</h2>
<% @posts.each do |post| %>
  <article>
    <h3><%= post.title %></h3>
    <div><%= post.body %></div>
  </article>
<% end %>
<h2>Skills</h2>
<% @skills.each do |skill| %>
  <p><%= skill.title %>: <%= skill.percent_utilized %></p>
  <hr>
<% end %>

<%= content_tag :p, class: "my-special-class" do %>
  This is a paragraph tag.
<% end %>